.movie-card {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 56px;
    cursor: pointer;
}

.movie-poster {
    position: relative;
}

.movie-poster img {
    width: 322px;
    height: 455px;
}

.movie-info {
    color: #b0b0b0;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
}

.movie-name {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.movie-genres {
    font-size: 14px;
    padding-top: 5px;
}

.movie-date {
    font-size: 14px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    height: 18px;
    padding: 4px 8px;
    font-weight: 500;
}

.three-dot-button {
    background-color: #2A202D;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 36px;
    width: 36px;
    font-size: 20px;
    color: #fff;
}

.edit-movie-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #232323;
    width: 170px;
    padding-top: 20px;
}

.edit-movie-option {
    padding: 6px 20px;
    font-size: 16px;
    color: #fff;
}

.edit-movie-option:hover {
    background-color: #F65261;
}

.edit-movie-close-button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    float: right;
    margin-top: -15px;
}

.confirm-message {
    margin-bottom: 30px;
}

