.genres-wrapper {
    border-bottom: 1px solid #080707;
}

.genres-list {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.genre-tab {
    list-style: none;
    display: inline-block;
    padding: 15px;
    color: #fff;
}

.genre-tab.active {
    border-bottom: 1px solid #F65261;
}

.genre-tab:hover {
    cursor: pointer;
    border-bottom: 1px solid #F65261;
}

.sort-by-block {
    display: inline-block;
    margin: auto;
}
