.sort-by-block {
    display: inline-block;
    padding: 15px;
}

.sort-by-button, .sort-by-dropdown {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.sort-by-dropdown option:not(:checked) {
    color: black;
}

.sort-by-dropdown {
    margin-left: 15px;
    text-transform: uppercase;
}

.sort-by-dropdown:focus-visible {
    outline: none;
}
